html {
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a, a:visited {
  color: rgb(0, 0, 0)  
}
a:hover {
  color: rgb(0, 0, 0)
}

.wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  flex: 1;
  padding: 5px 30px;
  gap: 20px;
}

.search {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(7, auto);
  background-color: #fff;
  color: #000000;
}

.item-left, .item-right, .item, .header-left, .header-right, .header {
  padding: 10px;
}

/* .item-left {
  border: 1px solid black;
  border-left: none;
  text-align: center;
}
.item-right {
  border: 1px solid black;
  border-right: none;
  text-align: center;
} */
.item {
  border: 1px solid black;
  text-align: center;
}

.header-left {
  /* border-right: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center; */
}
.header-right {
  /* border-left: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center; */
}

.header {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  background-color: #b1b1b1;
  font-weight: 600;

  color: #000000;
  /* text-shadow: -1px -1px 0 #000000, 0 -1px 0 #000000, 1px -1px 0 #000000, 1px 0 0 #000000,
  1px 1px 0 #000000, 0 1px 0 #000000, -1px 1px 0 #000000, -1px 0 0 #000000; */
}

.item-bottom {
  border-bottom: none;
}

.row {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

.row > :first-child {
  border-left: none;
}

.row > :last-child {
  border-right: none;
}

.container > .row:last-child > .item {
  border-bottom: none;
}

.container > .row:nth-child(odd) {
  background-color: #e9e9e9;
}

button {
  border-radius: 8px;
  border: 1px solid rgb(106, 106, 106);
  padding: .3em 0.6em;
  font-size: 10px;   
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.25s ease;
}

button:hover, input:hover {
  border-color: #5b5b5b;
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(154, 153, 189, 0.5);
}

button:focus,
button:focus-visible {
  outline: none;
  border-color: #5b5b5b;
  box-shadow: 0 0 5px rgba(154, 153, 189, 0.5);
}
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
