html {
  font-size: 18px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  flex: 1;
  padding: 5px 30px;
  gap: 20px;
}

.search {
  display: flex;
  flex-direction: row;
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(6, auto);
  background-color: #fff;
  color: #444;
}

.item-left, .item-right, .item, .header-left, .header-right, .header {
  padding: 10px;
}

.item-left {
  border: 1px solid black;
  border-left: none;
  text-align: center;
}
.item-right {
  border: 1px solid black;
  border-right: none;
  text-align: center;
}
.item {
  border: 1px solid black;
  text-align: center;
}

.header-left {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}
.header-right {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}
.header {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}

.item-bottom {
  border-bottom: none;
}
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
